In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df=pd.read_csv('gdrive/My Drive/movies_dataset.csv')

In [ ]:
df.head(1000)

     Rank                                      Release Group  ...  Filename  Year
0       1         Star Wars: Episode VII - The Force Awakens  ...  2015.csv  2015
1       2                                     Jurassic World  ...  2015.csv  2015
2       3                                          Furious 7  ...  2015.csv  2015
3       4                            Avengers: Age of Ultron  ...  2015.csv  2015
4       5                                            Minions  ...  2015.csv  2015
..    ...                                                ...  ...       ...   ...
995   196                               An Officer and a Spy  ...  2019.csv  2019
996   197  Crayon Shin-chan: Honeymoon Hurricane - The Lo...  ...  2019.csv  2019
997   198                                              Greta  ...  2019.csv  2019
998   199                  Peppa Celebrates Chinese New Year  ...  2019.csv  2019
999   200                                    Black Christmas  ...  2019.csv  2019

[1000 rows x 9 columns]

In [ ]:
df['Rank']= -1

In [ ]:
df.head()

   Rank                               Release Group  ...  Filename  Year
0    -1  Star Wars: Episode VII - The Force Awakens  ...  2015.csv  2015
1    -1                              Jurassic World  ...  2015.csv  2015
2    -1                                   Furious 7  ...  2015.csv  2015
3    -1                     Avengers: Age of Ultron  ...  2015.csv  2015
4    -1                                     Minions  ...  2015.csv  2015

[5 rows x 9 columns]

In [ ]:
df['Domestic %']=df['%']
df['Foreign %'] =df['%.1']

In [ ]:
df.head(1)

   Rank                               Release Group  ... Domestic % Foreign %
0    -1  Star Wars: Episode VII - The Force Awakens  ...      45.3%     54.7%

[1 rows x 11 columns]

In [ ]:
df.drop(columns=['%','%.1'],inplace=True)

In [ ]:
df.head()

   Rank                               Release Group  ... Domestic % Foreign %
0    -1  Star Wars: Episode VII - The Force Awakens  ...      45.3%     54.7%
1    -1                              Jurassic World  ...        39%       61%
2    -1                                   Furious 7  ...      23.3%     76.7%
3    -1                     Avengers: Age of Ultron  ...      32.7%     67.3%
4    -1                                     Minions  ...        29%       71%

[5 rows x 9 columns]

In [ ]:
df.isnull().sum()

Rank             0
Release Group    0
Worldwide        0
Domestic         0
Foreign          0
Filename         0
Year             0
Domestic %       0
Foreign %        0
dtype: int64

In [ ]:
df.dtypes

Rank              int64
Release Group    object
Worldwide        object
Domestic         object
Foreign          object
Filename         object
Year              int64
Domestic %       object
Foreign %        object
dtype: object

In [ ]:
#list of columns to clean 

def convert_currency_to_int(val):
  val=val.replace("$","")
  try:
    val=int(val)
  except:
    #when the value is not a number(some values are : "-" ) it takes 0
    val=0
  return val

list_col=['Worldwide','Domestic','Foreign']
def clean_col(row):
  for col in list_col:
    current_value = row[col]
    row[col] = convert_currency_to_int(current_value )
  return row 
df= df.apply(clean_col, axis=1)

print(df.head())

   Rank                               Release Group  ...  Domestic %  Foreign %
0    -1  Star Wars: Episode VII - The Force Awakens  ...       45.3%      54.7%
1    -1                              Jurassic World  ...         39%        61%
2    -1                                   Furious 7  ...       23.3%      76.7%
3    -1                     Avengers: Age of Ultron  ...       32.7%      67.3%
4    -1                                     Minions  ...         29%        71%

[5 rows x 9 columns]

In [ ]:
df.head()

   Rank                               Release Group  ...  Domestic %  Foreign %
0    -1  Star Wars: Episode VII - The Force Awakens  ...       45.3%      54.7%
1    -1                              Jurassic World  ...         39%        61%
2    -1                                   Furious 7  ...       23.3%      76.7%
3    -1                     Avengers: Age of Ultron  ...       32.7%      67.3%
4    -1                                     Minions  ...         29%        71%

[5 rows x 9 columns]

In [ ]:
df.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
Filename         object
Year              int64
Domestic %       object
Foreign %        object
dtype: object

In [ ]:
#sort the revenues worldwide in descending order so that the best movies are in top 
df.sort_values(by=['Worldwide'],inplace=True,ascending=False)
df.head()

     Rank                               Release Group  ...  Domestic %  Foreign %
800    -1                           Avengers: Endgame  ...       30.7%      69.3%
0      -1  Star Wars: Episode VII - The Force Awakens  ...       45.3%      54.7%
600    -1                      Avengers: Infinity War  ...       33.1%      66.9%
1      -1                              Jurassic World  ...         39%        61%
801    -1                               The Lion King  ...       32.8%      67.2%

[5 rows x 9 columns]

In [ ]:
df.tail()

      Rank               Release Group  Worldwide  ...  Year  Domestic % Foreign %
1195    -1   The Broken Hearts Gallery    4781389  ...  2020       85.1%     14.9%
1196    -1  Gladiator 20th Anniversary    4780585  ...  2020           -      100%
1197    -1                    Intruder    4751103  ...  2020           -      100%
1198    -1                Granny Nanny    4654655  ...  2020       <0.1%      100%
1199    -1              Military Wives    4558564  ...  2020           -      100%

[5 rows x 9 columns]

In [ ]:
df.reset_index(inplace=True,drop=True)
df.head()

   Rank                               Release Group  ...  Domestic %  Foreign %
0    -1                           Avengers: Endgame  ...       30.7%      69.3%
1    -1  Star Wars: Episode VII - The Force Awakens  ...       45.3%      54.7%
2    -1                      Avengers: Infinity War  ...       33.1%      66.9%
3    -1                              Jurassic World  ...         39%        61%
4    -1                               The Lion King  ...       32.8%      67.2%

[5 rows x 9 columns]

In [ ]:
df['Rank']=df.index + 1
df.head()

   Rank                               Release Group  ...  Domestic %  Foreign %
0     1                           Avengers: Endgame  ...       30.7%      69.3%
1     2  Star Wars: Episode VII - The Force Awakens  ...       45.3%      54.7%
2     3                      Avengers: Infinity War  ...       33.1%      66.9%
3     4                              Jurassic World  ...         39%        61%
4     5                               The Lion King  ...       32.8%      67.2%

[5 rows x 9 columns]

In [ ]:
df['Domestic %']= df['Domestic']/df['Worldwide']
df['Foreign %']= df['Foreign']/df['Worldwide']
#we do that to change th data types of these values
#they're also closer to accurate becuse they are not rounded

In [ ]:
df.head()

   Rank                               Release Group  ...  Domestic %  Foreign %
0     1                           Avengers: Endgame  ...    0.306836   0.693164
1     2  Star Wars: Episode VII - The Force Awakens  ...    0.452882   0.547118
2     3                      Avengers: Infinity War  ...    0.331395   0.668605
3     4                              Jurassic World  ...    0.390488   0.609512
4     5                               The Lion King  ...    0.328097   0.671903

[5 rows x 9 columns]

In [ ]:
df.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
Filename          object
Year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [ ]:
df.to_csv('movies_dataset_cleaned.csv',index=False)