In [14]:
import pandas as pd
import os

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [11]:
df=pd.read_csv('gdrive/My Drive/data/2015.csv', encoding= 'unicode_escape')

In [12]:
df.head()

   Rank                               Release Group  ...      Foreign    %.1
0     1  Star Wars: Episode VII - The Force Awakens  ...  $1131561399  54.7%
1     2                              Jurassic World  ...  $1018130012    61%
2     3                                   Furious 7  ...  $1162040651  76.7%
3     4                     Avengers: Age of Ultron  ...   $943800000  67.3%
4     5                                     Minions  ...   $823352627    71%

[5 rows x 7 columns]

In [13]:
df.tail()

     Rank                                   Release Group  ...    Foreign    %.1
195   196  Huevos: Little Rooster's Egg-cellent Adventure  ...  $16811743  64.9%
196   197                          Dügün Dernek 2: Sünnet  ...  $25836668   100%
197   198                                 Look Who's Back  ...  $25513752   100%
198   199                               Serial Teachers 2  ...  $25364150   100%
199   200                                       Wild City  ...  $24782986  99.9%

[5 rows x 7 columns]

In [15]:
cwd=os.getcwd()

In [16]:
BASE_DIR= os.path.dirname(cwd)

In [23]:
data = []

for filename in os.listdir('gdrive/My Drive/data'):
    if filename.endswith("csv"): 
        # Your code comes here such as 
        print(filename)
        data.append(filename)
print(data)

2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
['2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', '2020.csv']

In [25]:
df=pd.read_csv('gdrive/My Drive/data/2017.csv', encoding= 'unicode_escape')

In [26]:
df.head()

   Rank                            Release Group  ...      Foreign    %.1
0     1  Star Wars: Episode VIII - The Last Jedi  ...   $712358507  53.5%
1     2                     Beauty and the Beast  ...   $759506961  60.1%
2     3                  The Fate of the Furious  ...  $1009996733  81.7%
3     4                          Despicable Me 3  ...   $770175109  74.4%
4     5           Jumanji: Welcome to the Jungle  ...   $557562066    58%

[5 rows x 7 columns]

In [29]:
df['Year']=2017

In [30]:
df.head()

   Rank                            Release Group  ...    %.1  Year
0     1  Star Wars: Episode VIII - The Last Jedi  ...  53.5%  2017
1     2                     Beauty and the Beast  ...  60.1%  2017
2     3                  The Fate of the Furious  ...  81.7%  2017
3     4                          Despicable Me 3  ...  74.4%  2017
4     5           Jumanji: Welcome to the Jungle  ...    58%  2017

[5 rows x 8 columns]

In [38]:
complete_dataframe=pd.DataFrame()
my_dataframes=[]
for filename in os.listdir('gdrive/My Drive/data'):
    if filename.endswith("csv"): 
      path ='gdrive/My Drive/data/'+filename
      df=pd.read_csv(path, encoding= 'unicode_escape')

      df['Filename'] = filename
      year=filename.replace(".csv","")
      df['Year']= year
      print(df.head(2))
      my_dataframes.append(df)

   Rank                               Release Group  ...  Filename  Year
0     1  Star Wars: Episode VII - The Force Awakens  ...  2015.csv  2015
1     2                              Jurassic World  ...  2015.csv  2015

[2 rows x 9 columns]
   Rank                 Release Group    Worldwide  ...    %.1  Filename  Year
0     1    Captain America: Civil War  $1153296293  ...  64.6%  2016.csv  2016
1     2  Rogue One: A Star Wars Story  $1056057273  ...  49.6%  2016.csv  2016

[2 rows x 9 columns]
   Rank                            Release Group  ...  Filename  Year
0     1  Star Wars: Episode VIII - The Last Jedi  ...  2017.csv  2017
1     2                     Beauty and the Beast  ...  2017.csv  2017

[2 rows x 9 columns]
   Rank           Release Group    Worldwide  ...    %.1  Filename  Year
0     1  Avengers: Infinity War  $2048359754  ...  66.9%  2018.csv  2018
1     2           Black Panther  $1346913161  ...    48%  2018.csv  2018

[2 rows x 9 columns]
   Rank      Release Group    Worldwide  ...    %.1  Filename  Year
0     1  Avengers: Endgame  $2797501328  ...  69.3%  2019.csv  2019
1     2      The Lion King  $1656943394  ...  67.2%  2019.csv  2019

[2 rows x 9 columns]
   Rank              Release Group   Worldwide  ...    %.1  Filename  Year
0     1          The Eight Hundred  $461406887  ...  99.9%  2020.csv  2020
1     2  Demon Slayer: Mugen Train  $455495361  ...  89.5%  2020.csv  2020

[2 rows x 9 columns]

In [39]:
my_dataframes

[     Rank                                   Release Group  ...  Filename  Year
 0       1      Star Wars: Episode VII - The Force Awakens  ...  2015.csv  2015
 1       2                                  Jurassic World  ...  2015.csv  2015
 2       3                                       Furious 7  ...  2015.csv  2015
 3       4                         Avengers: Age of Ultron  ...  2015.csv  2015
 4       5                                         Minions  ...  2015.csv  2015
 ..    ...                                             ...  ...       ...   ...
 195   196  Huevos: Little Rooster's Egg-cellent Adventure  ...  2015.csv  2015
 196   197                          Dügün Dernek 2: Sünnet  ...  2015.csv  2015
 197   198                                 Look Who's Back  ...  2015.csv  2015
 198   199                               Serial Teachers 2  ...  2015.csv  2015
 199   200                                       Wild City  ...  2015.csv  2015

 [200 rows x 9 columns],
      Rank                              Release Group  ...  Filename  Year
 0       1                 Captain America: Civil War  ...  2016.csv  2016
 1       2               Rogue One: A Star Wars Story  ...  2016.csv  2016
 2       3                               Finding Dory  ...  2016.csv  2016
 3       4                                   Zootopia  ...  2016.csv  2016
 4       5                            The Jungle Book  ...  2016.csv  2016
 ..    ...                                        ...  ...       ...   ...
 195   196  Middle School: The Worst Years of My Life  ...  2016.csv  2016
 196   197                                   Triple 9  ...  2016.csv  2016
 197   198                                   Rock Dog  ...  2016.csv  2016
 198   199                                 The Choice  ...  2016.csv  2016
 199   200                             Penny Pincher!  ...  2016.csv  2016

 [200 rows x 9 columns],
      Rank                            Release Group  ...  Filename  Year
 0       1  Star Wars: Episode VIII - The Last Jedi  ...  2017.csv  2017
 1       2                     Beauty and the Beast  ...  2017.csv  2017
 2       3                  The Fate of the Furious  ...  2017.csv  2017
 3       4                          Despicable Me 3  ...  2017.csv  2017
 4       5           Jumanji: Welcome to the Jungle  ...  2017.csv  2017
 ..    ...                                      ...  ...       ...   ...
 195   196                    Extraordinary Mission  ...  2017.csv  2017
 196   197                         The Glass Castle  ...  2017.csv  2017
 197   198                    Leap! 2017 Re-release  ...  2017.csv  2017
 198   199                      Épouse-moi mon pote  ...  2017.csv  2017
 199   200                               The Prison  ...  2017.csv  2017

 [200 rows x 9 columns],
      Rank                   Release Group    Worldwide  ...    %.1  Filename  Year
 0       1          Avengers: Infinity War  $2048359754  ...  66.9%  2018.csv  2018
 1       2                   Black Panther  $1346913161  ...    48%  2018.csv  2018
 2       3  Jurassic World: Fallen Kingdom  $1308467944  ...  68.1%  2018.csv  2018
 3       4                   Incredibles 2  $1242805359  ...    51%  2018.csv  2018
 4       5                         Aquaman  $1148461807  ...  70.8%  2018.csv  2018
 ..    ...                             ...          ...  ...    ...       ...   ...
 195   196                       Padmaavat    $22991060  ...  48.5%  2018.csv  2018
 196   197       Won't You Be My Neighbor?    $22844741  ...  <0.1%  2018.csv  2018
 197   198                  Europe Raiders    $22435156  ...   100%  2018.csv  2018
 198   199          Mojin: The Worm Valley    $22381583  ...  99.5%  2018.csv  2018
 199   200                           Stree    $22075730  ...   100%  2018.csv  2018

 [200 rows x 9 columns],
      Rank                                      Release Group  ...  Filename  Year
 0       1                                  Avengers: Endgame  ...  2019.csv  2019
 1       2                                      The Lion King  ...  2019.csv  2019
 2       3                                          Frozen II  ...  2019.csv  2019
 3       4                          Spider-Man: Far from Home  ...  2019.csv  2019
 4       5                                     Captain Marvel  ...  2019.csv  2019
 ..    ...                                                ...  ...       ...   ...
 195   196                               An Officer and a Spy  ...  2019.csv  2019
 196   197  Crayon Shin-chan: Honeymoon Hurricane - The Lo...  ...  2019.csv  2019
 197   198                                              Greta  ...  2019.csv  2019
 198   199                  Peppa Celebrates Chinese New Year  ...  2019.csv  2019
 199   200                                    Black Christmas  ...  2019.csv  2019

 [200 rows x 9 columns],
      Rank               Release Group   Worldwide  ...    %.1  Filename  Year
 0       1           The Eight Hundred  $461406887  ...  99.9%  2020.csv  2020
 1       2   Demon Slayer: Mugen Train  $455495361  ...  89.5%  2020.csv  2020
 2       3           Bad Boys for Life  $426505244  ...  51.6%  2020.csv  2020
 3       4       My People My Homeland  $422390820  ...   100%  2020.csv  2020
 4       5                       Tenet  $363656624  ...  83.9%  2020.csv  2020
 ..    ...                         ...         ...  ...    ...       ...   ...
 195   196   The Broken Hearts Gallery    $4781389  ...  14.9%  2020.csv  2020
 196   197  Gladiator 20th Anniversary    $4780585  ...   100%  2020.csv  2020
 197   198                    Intruder    $4751103  ...   100%  2020.csv  2020
 198   199                Granny Nanny    $4654655  ...   100%  2020.csv  2020
 199   200              Military Wives    $4558564  ...   100%  2020.csv  2020

 [200 rows x 9 columns]]

In [40]:
complete_dataframe= pd.concat(my_dataframes)

In [41]:
complete_dataframe.head()

   Rank                               Release Group  ...  Filename  Year
0     1  Star Wars: Episode VII - The Force Awakens  ...  2015.csv  2015
1     2                              Jurassic World  ...  2015.csv  2015
2     3                                   Furious 7  ...  2015.csv  2015
3     4                     Avengers: Age of Ultron  ...  2015.csv  2015
4     5                                     Minions  ...  2015.csv  2015

[5 rows x 9 columns]

In [42]:
complete_dataframe.tail()

     Rank               Release Group Worldwide  ...    %.1  Filename  Year
195   196   The Broken Hearts Gallery  $4781389  ...  14.9%  2020.csv  2020
196   197  Gladiator 20th Anniversary  $4780585  ...   100%  2020.csv  2020
197   198                    Intruder  $4751103  ...   100%  2020.csv  2020
198   199                Granny Nanny  $4654655  ...   100%  2020.csv  2020
199   200              Military Wives  $4558564  ...   100%  2020.csv  2020

[5 rows x 9 columns]

In [45]:
complete_dataframe.to_csv('movies_dataset.csv',index=False)